.calderawp_license_manager-input-error,
input.calderawp_license_manager-input-error,
select.calderawp_license_manager-input-error,
textarea.calderawp_license_manager-input-error {
  border: 1px solid #df8080 !important;
  box-shadow: 0 0 2px #ff6060 !important;
}
h4 > small.description {
  color: #7f7f7f;
  font-style: italic;
  font-weight: normal;
}
.calderawp_license_manager-main-headerbrickroad,
.calderawp_license_manager-main-headercaldera {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 8px 0 0 #a3bf61 inset;
	margin: -10px -20px 10px -22px;
	padding: 0 0 8px 22px;
	overflow: hidden;
}
.calderawp_license_manager-sub-headercaldera {
  background: none repeat scroll 0 0 #f8f8f8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 8px 0 0 #a3bf61 inset;
  margin: -10px -20px 10px -22px;
  padding: 0 0 0 8px;
  overflow: hidden;
}
.calderawp_license_manager-sub-headerbrickroad {
  background: none repeat scroll 0 0 #f8f8f8;
  border-radius: 0 0 6px;
  bottom: 32px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1), 8px 0 0 #404040 inset;
  margin: -11px -20px 10px -22px;
  overflow: hidden;
  padding: 0 0 0 8px;
  position: absolute;
  top: 64px;
  width: 140px;
}
.calderawp_license_manager-subline,
.calderawp_license_manager-version {
  color: #9f9f9f;
  font-size: 0.55em;
  line-height: 0;
}

.calderawp_license_manager-main-headerbrickroad h2,
.calderawp_license_manager-main-headercaldera h2 {
	color: #4f4f4f;
	font-size: 20px;
	font-weight: 300;
  float: left;
}
.calderawp_license_manager-main-headerbrickroad .logo-icon,
.calderawp_license_manager-main-headercaldera .logo-icon{
	color: #a3bf61;
  font-size: 72px;
  margin: -18px 20px 0 -60px;
  opacity: 0.2;
  padding: 0 15px 0 0;
}

.calderawp_license_manager-main-headerwordpress .error_notice_box,
.calderawp_license_manager-main-headerwordpress .updated_notice_box,
.calderawp_license_manager-main-headerbrickroad .error_notice_box,
.calderawp_license_manager-main-headerbrickroad .updated_notice_box,
.calderawp_license_manager-main-headercaldera .error_notice_box,
.calderawp_license_manager-main-headercaldera .updated_notice_box {
  background: #fff;
  border-left: 8px solid rgb(175, 175, 0);
  color: #333;
  display: inline-block;
  padding: 20px 23px 15px 12px;
  position: absolute;
  top: -75px;
  left: 0;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.calderawp_license_manager-main-headerwordpress .error_notice_box,
.calderawp_license_manager-main-headerbrickroad .error_notice_box,
.calderawp_license_manager-main-headercaldera .error_notice_box {
  border-left: 8px solid rgb(175, 0, 0);
}
.calderawp_license_manager-general-delete-link{
  color: #a00;
}
.calderawp_license_manager-general-delete-link:hover{
  color: red;
}
.subsubsub.calderawp_license_manager-nav-tabs a:last-child{
  display: none;
}
.wrap .calderawp_license_manager-main-headerbrickroad .add-new-h2,
.wrap .calderawp_license_manager-main-headercaldera .add-new-h2{
	font-size: 12px;
	margin: 13px;
	cursor: pointer;
}
.calderawp_license_manager-main-headerbrickroad .add-new-h2:hover,
.calderawp_license_manager-main-headercaldera .add-new-h2:hover {
	background: none repeat scroll 0 0 #a3bf61;
}

.calderawp_license_manager-main-headerbrickroad .calderawp_license_manager-header-tabs,
.calderawp_license_manager-main-headercaldera .calderawp_license_manager-header-tabs {
  float: left;
  margin: 0 0 0 25px;
  padding: 0;
}
.calderawp_license_manager-sub-headerbrickroad .calderawp_license_manager-sub-tabs,
.calderawp_license_manager-sub-headercaldera .calderawp_license_manager-sub-tabs {
  margin: 0;
  padding: 0;
}

.calderawp_license_manager-main-headerbrickroad .calderawp_license_manager-header-tabs > li,
.calderawp_license_manager-main-headercaldera .calderawp_license_manager-header-tabs > li{
  float: left;
}
.calderawp_license_manager-main-headerbrickroad .calderawp_license_manager-header-tabs > li > a,
.calderawp_license_manager-main-headercaldera .calderawp_license_manager-header-tabs > li > a{
  display: inline-block;
  margin: 0 0 -15px;
  padding: 16px 20px 20px;
  text-decoration: none;
  color:#a3bf61;
}
.calderawp_license_manager-main-headercaldera .calderawp_license_manager-header-tabs > li > a:hover{
  background-color: #efefef;
}
.calderawp_license_manager-main-headercaldera .calderawp_license_manager-header-tabs > li.active > a{
  background-color: #a3bf61;
  color: #fff;
}
.calderawp_license_manager-main-headerbrickroad .calderawp_license_manager-header-tabs > li.active > a {
  background-color: #a3bf61;
  color: #fff;
}
.calderawp_license_manager-sub-headercaldera .calderawp_license_manager-sub-tabs > li {
  float: left;
  margin: 0;
}
.calderawp_license_manager-sub-headerbrickroad .calderawp_license_manager-sub-tabs > li {
  float: left;
  margin: 0;
  width: 100%;
}
.calderawp_license_manager-sub-headercaldera .calderawp_license_manager-sub-tabs > li > a{
  display: inline-block;
  margin: 0;
  padding: 6px 14px 8px;
  text-decoration: none;
  color:#a3bf61;
}
.calderawp_license_manager-sub-headerbrickroad .calderawp_license_manager-sub-tabs > li > a {
  color: #a3bf61;
  display: block;
  margin: 0;
  padding: 6px 14px 8px;
  text-decoration: none;
}
.calderawp_license_manager-sub-headercaldera .calderawp_license_manager-sub-tabs > li > a:hover{
  background-color: #efefef;
}
.calderawp_license_manager-sub-headercaldera .calderawp_license_manager-sub-tabs > li.active > a{
  background-color: #a3bf61;
  color: #fff;
}
.calderawp_license_manager-sub-headerbrickroad .calderawp_license_manager-sub-tabs > li.active > a {
  background-color: #646464;
  color: #fff;
}
.calderawp_license_manager-split-panel {
  margin-left: 300px;
}
.calderawp_license_manager-side-list {
  float: left;
  margin-left: -300px;
  width: 280px;
}
.calderawp_license_manager-side-list > label{
	display: block;
}
.calderawp_license_manager-side-list > select {
	width: 100%;
	margin-bottom: 2px;
}

.calderawp_license_manager-footer-bar {
  border-top: 1px solid #e6e6e6;
  margin: 30px -20px 0 -22px;
  padding: 20px;
}

.calderawp_license_manager-main-list {
  float: left;
  min-height: 100px;
  width: 550px;
  position: relative;
}

.calderawp_license_manager-config-group {
  margin-bottom: 6px;
}
.calderawp_license_manager-config-group > label {
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
  width: 180px;
}
.calderawp_license_manager-config-group .invalid {
  border: 1px solid #c00 !important;
  box-shadow: 0 0 5px -1px #c00 !important;
}
/* groups wrappers */
.calderawp_license_manager-add-group-btn {
  color: #777;
  cursor: pointer;
  float: left;
  font-size: 1.5em;
  width: 40px;
}
.calderawp_license_manager-group-wrapper {
  float: left;
  margin-right: 12px;
  width: 280px;
}
.calderawp_license_manager-group-wrapper .sortable-placeholder {
  display: block;
  float: left;
}
.calderawp_license_manager-field-group {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  color: #555;
  margin: 0 0 6px;
  padding: 6px 12px;
  position: relative;
}
.calderawp_license_manager-field-item {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  color: #555;
  margin: 0 0 6px;
  overflow: hidden;
  padding: 6px 0 6px 6px;
  position: relative;
}
.calderawp_license_manager-field-group-config {
  background: none repeat scroll 0 0 rgb(248, 248, 248);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.18);
  height: 130px;
  margin: 6px 0;
  overflow: hidden;
  padding: 6px 6px 0;
}
.calderawp_license_manager-field-config-wrapper {
  float: left;
  width: 550px;
}



/* Tags */
.magic-tag-init {
  margin: 4px 2px;
  padding: 3px;
  position: absolute;
  right: 0;
}
.ui-autocomplete-category {
  background: none repeat scroll 0 0 #cecece;
  font-weight: bold;
  padding: 3px 10px;
}
.ui-autocomplete {
  border: 1px solid #cbcbcb;
  max-height: 380px;
  overflow: auto;
}
.calderawp_license_manager-card-item {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 50px 0 0 #f8f8f8 inset;
  box-sizing: border-box;
  color: #555;
  display: inline-block;
  font-size: 13px;
  min-height: 90px;
  margin: 6px 6px 0 0;
  overflow: hidden;
  padding: 0 0 0 50px;
  position: relative;
  width: 250;
}
.calderawp_license_manager-card-sub-item {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 1px solid #e5e5e5;
  box-shadow: -39px 0 0 #f8f8f8 inset,-40px 0 0 #dfdfdf inset;
  box-sizing: border-box;
  color: #555;
  font-size: 13px;
  margin: 0 0 6px;
  padding: 6px;
  position: relative;
}

.calderawp_license_manager-card-item .calderawp_license_manager-card-icon {
  float: left;
  font-size: 95px;
  height: 100%;
  margin-left: -51px;
  overflow: hidden;
  padding: 0 1px;
  text-indent: -40px;
  width: 49px;
  line-height: 84px;
}
.calderawp_license_manager-card-item .calderawp_license_manager-card-icon:before {
  opacity: 0.2;
}
.calderawp_license_manager-card-content {
  box-sizing: padding-box;
  border-left: 1px solid #dfdfdf;
  padding: 6px 12px;
  width: 100%;
  min-height: 90px;
  overflow: hidden;
  white-space: nowrap;
}
.ui-sortable-helper .calderawp_license_manager-card-content{
  overflow: visible;
}
.ui-sortable-helper .dashicons{
  display: none;
}
.calderawp_license_manager-card-item .calderawp_license_manager-card-content > h4{
	margin: 0;
}

.calderawp_license_manager-card-content input[type="text"] {
  width: 100%;
}
.calderawp_license_manager-card-content .description {
  color: #8f8f8f;
  font-size: 11px;
}
.calderawp_license_manager-card-content .calderawp_license_manager-card-actions {
  padding: 0;
}
.calderawp_license_manager-card-content .calderawp_license_manager-card-actions .row-actions{
	visibility: visible;
}
.calderawp_license_manager-card-content .calderawp_license_manager-card-actions .row-actions a{
	text-decoration: none;
}
.loading .spinner,
.loading.spinner{
  
  visibility: visible;
}


.baldrick-modal-title .modal-label,
.baldrick-modal-title .baldrick-modal-closer{
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.baldrick-modal-title .baldrick-modal-closer:hover {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
}
.baldrick-modal-title .modal-label{
  background-color: #a3bf61;
}
.calderawp_license_manager-main-headercaldera .loading{
	top: -2px;
}.calderawp_license_manager-module-side {
  float: left;
  margin-right: 22px;
  width: 250px;
}

.calderawp_license_manager-module-tabs {
  background: none repeat scroll 0 0 #f4f4f4;  
  margin: 0 0 0 -22px;
  padding: 0;
  overflow: hidden;
}
.calderawp_license_manager-module-tab {
  margin: 0;
  box-shadow: -1px 0 0 #cfcfcf inset;
}
.calderawp_license_manager-module-tab > a{
  display: block;
  margin: 0;
  padding: 9px 10px 9px 22px;
  text-decoration: none;
  color:#444;
}
.calderawp_license_manager-module-tab > a:hover{
  background-color: rgba(0, 0, 0, 0.05);
}
.calderawp_license_manager-module-tab.active > a{
  background-color: #a3bf61;
  color: #fff;
}

.calderawp_license_manager-editor-panel h2{
  color: inherit;
  font-size: 1.1em;
  margin: 0;
  padding: 4px 6px 6px;
}

.calderawp_license_manager-featured-plugin {
    margin: 10px;
    width: 200px;
    float: left;
    height: 200px;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color:white;
}
